body {
  margin: 0;
  font-family: Georgia, serif;
  background-color: #2f4159;
  color: white;
  text-align: center;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}

.floral.tl,
.floral.br {
  position: fixed;
  width: 320px;
  pointer-events: none;
  z-index: 0;
}
.floral.tl {
  position: fixed;
  top: 0;
  left: 0;
  width: 320px;
}

.floral.br {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 320px;
}

/* KONTEN DI ATAS FLORAL */
.cover,
main,
.music-control {
  position: relative;
  z-index: 2;
}

.overlay {
  background: rgba(8, 26, 51, 0.55);
  padding: 40px 25px;
  border-radius: 20px;
  animation: fadeIn 2s;
}

/*tamu*/
.tamu {
  font-style: italic;
  margin: 10px 0;
  font-size: 14px;
  opacity: 0.9;
}

h1 {
font-size: 32px;
margin: 10px 0;
}

button {
margin-top: 20px;
padding: 12px 30px;
border-radius: 30px;
border: none;
font-size: 16px;
cursor: pointer;
}

/* ISI */
#isi {
display: none;
}

section {
padding: 60px 20px;
}

.profil img {
width: 180px;
border-radius: 50%;
border: 5px solid #2a4f80;
margin-bottom: 15px;
}

/* ANIMASI */
.fade {
opacity: 0;
transform: translateY(30px);
transition: 1s;
}

.fade.show {
opacity: 1;
transform: translateY(0);
}

@keyframes fadeIn {
from { opacity: 0; }
to { opacity: 1; }
}

/* RESPONSIVE */
@media (max-width: 480px) {
h1 {
font-size: 26px;
}
}

@media (max-width: 480px) {
  .floral.tl,
  .floral.br {
    width: 220px;
  }
}
